/*Nav*/
.navbar {    
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;

  }
  .navbar h1 {
    color: #f1356d;
  }
  .navbar .links {
    margin-left: auto;
  }
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .navbar a:hover {
    color: #f1356d;
  }
  /*Add Account*/
  .cal {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

  }    
  
  .btn {
      background: #f1356d;
      color: #fff;
      border: 0;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
  }
  .calResult {
    color: #f1356d;
    border: 0;
    padding: 8px;
    cursor: pointer;
  }
  .container {
    display: flex;
    background-color: #f1356d;
    padding: 5px;
    margin: 10px; 
  }

  .container-div {
    background-color: white;
    padding: 7px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
  }
  #label{
    font-family: Trebuchet MS (sans-serif);
    color: #f1356d;
    font-weight: bold;
    font-size: 14px;
    padding: 4px;
  }
  .l-input {
    max-width: 90px;
    margin-right: 10px;
  }

  /*Table*/
  th {
    padding-left: 30px;
    color:#f1356d;
    border-bottom: 1px solid #f2f2f2;
  }
  td {
    padding-left: 30px;
    border-bottom: 1px solid #f2f2f2;
  }
  #acc-btn {
    margin-left: 10px;
  }
  .btn-switch {
    background-color: white;
    border: 2px solid #ffe0e0;
    
  }
  .btn-switch a {
    text-decoration: none;
    color:#ca0d45;
  }
  .date {
    font-size: 15px; 
    color:#ca0d45; 
  }
  .search {
    background-color: white;
    width: 200px;
    border-radius: 20px;
    height: 30px ;
    padding: 0 15px;
    display: flex;
    box-shadow:  rgb(173, 39, 39);    
    align-items: center;
  }
  .isearch {
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    height: 20px;
    width: 100%;
    
  }
  input:focus {
    outline: none
  }
  .search-icon {
    color:#ca0d45
  }
  .reg {
    font-size: 12px; 
  }
  .toast-message {
      background: darkblue;
      color: #fff;
      font-size: 20px;
      width: 34vw;
      padding: 30px 20px;
  }
  .form-control {
    margin-bottom: 10px;
    margin-left: 2px;
  }